body{
	background: rgb(56, 134, 128);
}
.ba-checkers{
	position: absolute;
	margin: auto;
	width: 80vh;
	height: 80vh;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 30px solid pink;
	background: #fff;
}
.block-dark{
	background: #ccc;
	height: 100%;
	width: 100%;
}
.row{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 12.5%;
	width: 100%;
}
.row div{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 12.5%;
}
.row:nth-child(1){
	top: 0%;
}
.row:nth-child(2){
	top: 25%;

}
.row:nth-child(3){
	top: 50%;

}
.row:nth-child(4){
	top: 75%;
}
.row > div{
	background: #fff;
}
.row > div:nth-child(1){
	left: 0%;
	top: 0%;
}
.row > div:nth-child(2){
	left: 12.5%;
	top: 100%;
}
.row > div:nth-child(3){
	left: 25%;
}
.row > div:nth-child(4){
	left: 37.5%;
	top: 100%;
}
.row > div:nth-child(5){
	left: 50%;
}
.row > div:nth-child(6){
	left: 62.5%;
	top: 100%;
}
.row > div:nth-child(7){
	left: 75%;
}
.row > div:nth-child(8){
	left: 87.5%;
	top: 100%;
}